#  This file is part of systemd.
#
#  systemd is free software; you can redistribute it and/or modify it
#  under the terms of the GNU Lesser General Public License as published by
#  the Free Software Foundation; either version 2.1 of the License, or
#  (at your option) any later version.

# This unit gets pulled automatically into multi-user.target by
# systemd-rc-local-generator if /etc/rc.local is executable.
[Unit]
Description=low_mem_popup_user
#ConditionFileIsExecutable=/usr/local/bin/ssr
After=network.target
# BindsTo=graphical-session.target
# PartOf=graphical-session.target
# Requires=x_server_started.service
# After=x_server_started.service

[Service]
#User=xiang
#User=%I
#Group=xiang
Type=simple
#Environment=DISPLAY=:0
WorkingDirectory=/home/xiang
#ExecStart=/usr/local/bin/ssr start
ExecStart=/home/xiang/ubuntu-portable/services/ubuntu-low-mem-popup.sh
#ExecStart=/usr/bin/python /home/xiang/ubuntu-portable/services/notify.py
Restart=always
TimeoutSec=0
RemainAfterExit=no

[Install]
WantedBy=multi-user.target
